<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <script type="module" src="/code/main.js"></script>
    <link rel="stylesheet" href="/styles/main.sass">
    <meta name="google-site-verification" content="TBD" />
    <meta name="description" content="{{ summary }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ summary }}">
    <meta property="og:site_name" content="Vremenska napoved za Jadran - Adriatic Weather Forecast">
    <meta property="og:image" content="{{ site.baseurl }}/assets/pbj-cfc8b925.jpg">
</head>

<body class="font-serif bg-tertiary">
    <header>
        <nav class="bg-primary flex items-center p-4" aria-label="Main">
            <a href="/"><img src="/assets/logo-pojalabanda.svg" alt="pojalabanda.com" class="h-12 mr-4"></a>

            <div class="flex space-x-4">
                <select id="areaSelector" class="hidden border border-gray-300 rounded-md p-2">
                    {% for ar in adriatic %}
                        <option value="{{ ar[0] }}" {% if ar[0] == area %}selected{% endif %}>{{ ar[0] }}</option>
                    {% endfor %}
                </select>

                <select id="forecastSelector" class="hidden border border-gray-300 rounded-md p-2">
                    {% for fc in adriatic["adriatic"] %}
                        <option value="{{ fc[0] }}">{{ fc[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </nav>
</header>

    <main>
        {% block content %}
            {{ content }}
        {% endblock %}
    </main>

    <footer class="bg-primary text-secondary py-4 mt-4">
        <div class="container mx-auto px-4">
          <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-2 md:mb-0">
              <p><a href="https://meteo.hr/" class="no-underline border-b-2 border-link hover:bg-link-hover">meteo.hr</a> - vremenske napovedi Aladin/HR</p>
            </div>

            <div>
              <p>Storitev nudi <a href="https://pojalabanda.com" target="_blank" rel="noopener noreferrer" class="no-underline border-b-2 border-link hover:bg-link-hover">
                pojalabanda.com</a></p>
            </div>
          </div>
        </div>
    </footer>

    <script>
        let currentIndex = 0;
        let images = [];
        const areaSelector = document.getElementById('areaSelector');
        const forecastSelector = document.getElementById('forecastSelector');

        function showImage(index) {
           images.forEach((img, i) => {
                img.classList.toggle('hidden', i !== index);
            });
        }

        function updateCarousel() {
            const selectedArea = areaSelector.value;
            const selectedForecast = forecastSelector.value;
            const forecastId = `forecast-${selectedArea}-${selectedForecast}`;
            const allForecasts = document.querySelectorAll('.forecast');

            allForecasts.forEach(fc => fc.classList.add('hidden'));

            const selectedCarousel = document.getElementById(forecastId);
            if (selectedCarousel) {
                const prevButton = document.getElementById(`prevButton-${selectedArea}-${selectedForecast}`);
                const nextButton = document.getElementById(`nextButton-${selectedArea}-${selectedForecast}`);

                selectedCarousel.classList.remove('hidden');
                currentIndex = 0;
                images = selectedCarousel.querySelectorAll('.forecast-image');
                showImage(currentIndex)

                prevButton.addEventListener('click', () => {
                    currentIndex = (currentIndex > 0) ? currentIndex - 1 : images.length - 1;
                    showImage(currentIndex);
                });

                nextButton.addEventListener('click', () => {
                    currentIndex = (currentIndex + 1) % images.length;
                    showImage(currentIndex);
                });
            }

            currentUrl = new URL(window.location.href)
            currentUrl.searchParams.set('forecast', `${selectedForecast}`);
            window.history.replaceState(null, null, currentUrl.toString());
        }

        function updateForecast() {
            const selectedArea = areaSelector.value;
            const selectedForecast = forecastSelector.value;
            if (selectedArea) {
                window.location.href = `/${selectedArea}/?forecast=${selectedForecast}`;
            }
        }

        areaSelector.addEventListener('change', updateForecast);
        forecastSelector.addEventListener('change', updateCarousel);

        document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const forecastParam = urlParams.get('forecast');

            if (forecastParam) {
                forecastSelector.value = forecastParam;
            }

            if (window.location.pathname.startsWith('/adriatic')) {
                areaSelector.classList.remove('hidden');
                forecastSelector.classList.remove('hidden');
                updateCarousel();
            }
        });
    </script>

</body>

</html>
